@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pixelify+Sans:wght@400..700&family=Stack+Sans+Notch:wght@200..700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    font-family: pixelify sans;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#titulo{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(40, end);
}