@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

section{
  position: relative;
  width: 100%;
  min-width: 100vh;
  padding: 70 px;
  background-color: rgb(155, 7, 27);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}